<h1>{{title}}: My Burrito Store</h1>

{{#if servers}}
<ul>
{{#each servers}}
<li><a href="entries?idserver={{uriencode this}}">{{this}}</a></li>
{{/each}}
</ul>

{{else}}

<p>Yes we have no idservers!</p>
{{/if}}
