<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>My Burrito Store</h1>
    <div><span class="button"><a href="/">One Level</a></span><span class="button"><a href="/twolevel">Two Level</a></span></div>
    {{{body}}}
  </body>
</html>
