body {
  padding: 20px;
  font: 14pt "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #007FFF;
}

table {
    border-style: solid;
    border-width: 1px;
    border-color: #000;
    border-collapse: collapse
}

td, th {
    padding: 5px;
    text-align: left;
    border-style: solid;
    border-width: 1px;
    border-color: #000;
}

span.button {
    padding: 5px;
    background-color: #FFC;
    border-style: solid;
    border-width: 1px;
    margin: 5px
}

span.button > a {
    text-decoration: none;
}
